<div class="text-end">
    <button id="btnGirisYap" type="button" class="btn btn-outline-light me-2">Giriş Yap</button>
    <a asp-controller="Auth" asp-action="Register" class="btn" style="background-color:#FF8551; color:#FAF0E4">Kayıt Ol</a>
</div>