@model AddCommitViewModel

<h3 class="text-center">Yorum Ekle</h3>

<form method="post" asp-controller="Product" asp-action="AddCommit">
    <div>
        <label class="fw-bold m-2">Yorum</label>
        <textarea asp-for="Content" rows="5" style="resize:none" class="form-control"></textarea>
    </div>

    <button type="submit" class="btn btn-warning mt-4 fw-bold float-end" asp-route-productId="@ViewBag.ProductId">Yorum Gönder</button>

</form>